body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eventMonth{

}

h1{
  margin: 0px;
}

.events{
  background-color: #444;
  color: white;
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1.5em;
}

input, button{
  background-color: #454;
  color: whitesmoke;
  border: none;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}

button:hover, input:hover, .card:hover{
  background-color: #343;
  .card:hover
}


.card{
  text-align: center;
  margin: 2rem;
  background-color: #454;
  padding: .25rem;
  width: fit-content;
  border-radius: 15px;
  border: whitesmoke solid 4px;
}




.eventDiv{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  width: 90%;
  max-width: 95%;
}